@layer components {
  .h0 {
    @apply text-[72px] leading-[calc(68/72)] tracking-tight;

    @screen md {
      @apply text-[110px] leading-[calc(110/110)];
    }
  }

  .h1 {
    @apply text-[64px] leading-[calc(62/64)];

    @screen md {
      @apply text-[90px] leading-[calc(80/90)];
    }
  }

  .h2 {
    @apply text-[32px] leading-[calc(34/32)];

    @screen md {
      @apply text-[48px] leading-[calc(50/48)];
    }
  }

  .h3 {
    @apply text-[32px] lg:text-[48px] font-roman;
  }

  .h4 {
    @apply text-[21px] leading-[28px] font-roman md:text-[35px] md:leading-[44px];
  }

  .intro {
    @apply text-3xl space-y-[1em] lg:text-5xl bg-red-light;
  }

  .body {
    @apply text-[18px] leading-[1.33333333] space-y-[1em] lg:text-[24px] bg-[lime];
  }

  .button {
    @apply text-[24px] leading-none inline-block px-8 py-4 rounded-full;

    &--primary {
      @apply bg-yellow text-black;
    }
  }

  .section {
    @apply grid gap-4 lg:grid-cols-8 lg:gap-10;
  }
}

[class*='md:prose-xl'] {
  @apply bg-[pink];
}
