---
import { getCollection } from 'astro:content';

import { Section } from '@/components/index.astro';

const clients = await getCollection('client', ({ data, slug }) => {
  return data.draft !== true;
});

clients.sort((a, b) => a.data.sortOrder - b.data.sortOrder);
---

<Section name="Selected clients">
  <div class="grid grid-cols-4 gap-4 md:grid-cols-5 md:gap-[30px]">
    {
      clients.map(({ data: { name, image, logo } }) => {
        return (
          <article>
            <h3 class="sr-only">{name}</h3>
            {image && (
              <div class="aspect-w-16 aspect-h-9">
                <img src={image} alt={name} loading="lazy" class="grayscale" />
              </div>
            )}
            {logo && <div class="aspect-w-15 aspect-h-9" set:html={logo} />}
          </article>
        );
      })
    }
  </div>
</Section>
