---
import { getCollection } from 'astro:content'

const services = await getCollection('services', ({ data }) => {
  return data.draft !== true
})

services.sort((a, b) => a.data.sortOrder - b.data.sortOrder)

export interface Props {
  name: string
}

const { name, ...attrs } = Astro.props as Props
---

<div class="list not-prose" {...attrs}>
  <h3>{name}</h3>
  <ul>
    {
      services.map(({ data: { name, url } }) => (
        <li>
          {url ? (
            <a href={url} class="underline">
              {name}
            </a>
          ) : (
            name
          )}
        </li>
      ))
    }
  </ul>
</div>
