---
import { getCollection } from 'astro:content'

const services = await getCollection('service', ({ data }) => {
  return data.draft !== true
})

services.sort((a, b) => a.data.sortOrder - b.data.sortOrder)

export interface Props {
  name: string
}

const { name, ...attrs } = Astro.props as Props
---

<div class="list not-prose" {...attrs}>
  <h3>{name}</h3>
  <ul>
    {
      services.map((service) => (
        <li>
          {service.slug ? (
            <a href={service.slug} class="underline">
              {service.data.name}
            </a>
          ) : (
            service.data.name
          )}
        </li>
      ))
    }
  </ul>
</div>
