---
import { Section, Callout } from '@/components/index.astro'

const areas = await Astro.glob('../content/work/*.{mdx,md}')
areas.sort((a, b) => a.frontmatter.number - b.frontmatter.number)
---

<Section name="What we do">
  <div class="divide-y divide-gray space-y-6 border-b border-gray not-prose">
    {
      areas.map((area) => (
        <article class="space-y-10 pb-10">
          <h3 class="h2">
            <span class="h0 block">{area.frontmatter.number}</span>
            {area.frontmatter.name}
          </h3>

          <area.Content />

          <Callout
            name="Is it the right approach for you?"
            url={{
              name: 'Get in touch',
              type: 'button',
            }}
          />
        </article>
      ))
    }
  </div>
</Section>
