---
import { Section, Callout } from '@/components/index.astro'
import Arrows from '@/components/Arrows.astro'

import * as invention from '@/content/work/invention.mdx'
import * as reinvention from '@/content/work/reinvention.mdx'
import * as intervention from '@/content/work/intervention.mdx'

const areas = [invention, reinvention, intervention]
---

<Section name="What we do">
  <p class="lead">
    Our work spans three areas: invention, reinvention and intervention.
  </p>

  <div class="divide-y divide-gray space-y-6 border-b border-gray not-prose">
    {
      areas.map((area) => (
        <article class="space-y-10 pb-10">
          <h3 class="h2">
            <span class="h0 block">{area.frontmatter.number}</span>
            {area.frontmatter.name}
          </h3>

          <area.Content components={{ ul: Arrows }} />

          <Callout
            name="Is it the right approach for you?"
            url={{
              name: 'Get in touch',
              'x-bind': 'toggleContactModal',
              class: 'cursor-pointer',
              type: 'button',
            }}
          />
        </article>
      ))
    }
  </div>
</Section>
