---
import { getCollection } from 'astro:content'

import { Section, Prose } from '@/components/index.astro'
import Callout from '@/components/Callout.astro'

const work = await getCollection('work', ({ data }) => {
  return data.draft !== true
})

work.sort((a, b) => a.data.number - b.data.number)
---

<Section name="What we do">
  <Prose>
    <p class="lead">
      Our work spans three areas: invention, reinvention and intervention.
    </p>
  </Prose>
  <div class="grid gap-16">
    {
      work.map((area) => {
        const { data } = area
        return (
          <article class="pb-16 border-b border-gray">
            <h3 class="h2">
              <span class="h0 block">{data.number}</span>
              {data.name}
            </h3>

            <Prose>
              <div set:html={area.body} />

              <button type="button" x-on:click="modalContact = true">
                Get in touch!
              </button>

              <Callout
                class="not-prose"
                name="Is it the right approach for you?"
                url={{
                  name: 'Get in touch',
                  'x-on:click': 'modalContact=true',
                  type: 'button',
                }}
              />
            </Prose>
          </article>
        )
      })
    }
  </div>
</Section>
