---
import { Icon } from 'astro-icon'
---

<form>
  <div class="space-y-10">
    <div>
      <input type="text" placeholder="My name is..." class="input" />
    </div>
    <div>
      <input type="email" placeholder="My email address is..." class="input" />
    </div>
    <button
      type="submit"
      class="text-[30px] flex items-center text-yellow hover:text-white"
    >
      <span class="underline">Submit</span>
      <Icon name="arrow-45" class="ml-2" />
    </button>
  </div>
</form>

<style>
  .input {
    @apply block w-full bg-transparent border-x-0 border-t-0 border-b border-white/50 px-0 placeholder:text-white/40 !important;
    @apply text-[30px] leading-[40px] !important;
  }
</style>
