---
import { Icon } from 'astro-icon';
---

<form name="contact" method="POST" data-netlify="true">
  <div class="space-y-10">
    <textarea
      name="message"
      class="textarea"
      required
      placeholder="I'm looking for help with..."></textarea>
    <input
      type="text"
      placeholder="My name is..."
      name="name"
      class="input"
      required
    />
    <input
      type="email"
      placeholder="My email address is..."
      name="email"
      class="input"
      required
    />
    <button
      type="submit"
      class="flex items-center text-[30px] text-yellow hover:text-white"
    >
      <span class="underline">Submit</span>
      <Icon name="arrow/45/32" />
    </button>
  </div>

  <style scoped>
    .input {
      @apply w-full border-t-0 border-r-0 border-l-0 border-gray bg-transparent px-0 text-[30px] leading-[40px] text-white;

      &::placeholder {
        @apply text-gray;
      }
    }

    .textarea {
      @apply min-h-[50px] w-full border-l-8 border-t-0 border-r-0 border-b-0 border-yellow bg-transparent py-0 pr-0 pl-4 text-3xl md:text-5xl;

      &::placeholder {
        @apply text-gray;
      }
    }
  </style>
</form>
