---
import { getCollection, getEntryBySlug } from 'astro:content'

import '@/styles/global.css'
import { Prose } from '@/components/index.astro'

const article = await getEntryBySlug('page', 'services')
const services = await getCollection('service')

const { Content } = await article.render()
---

<div class="container">
  <Prose>
    <Content />
  </Prose>
  <nav>
    <ul>
      {
        services.map((service) => (
          <li>
            <a href={`/services/${service.slug}`}>{service.data.name}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>
