---
import { Icon } from 'astro-icon'

interface Props {
  icon: string
  name: string
  class?: string
}

const { icon, name, class: className } = Astro.props as Props
---

<section class:list={['not-prose border-y border-gray py-8', className]}>
  <div class="flex items-center mb-6">
    <Icon name={icon} class="mr-8 text-[56px]" />
    <h3 class="h2">{name}</h3>
  </div>
  <div class="grid gap-8">
    <slot />
  </div>
</section>
