---
import { Icon } from 'astro-icon';

interface Props {
  icon: string;
  name: string;
  class?: string;
}

const { icon, name, class: className } = Astro.props as Props;
---

<section class:list={['not-prose', className]}>
  <div class="flex items-center border-b border-gray pb-4">
    <Icon name={icon} class="mr-1 text-[3.5rem]" />
    <h3 class="h4">{name}</h3>
  </div>
  <slot />
</section>
