---
import Default from '../layouts/Default.astro'
import { frontmatter } from '../data/pages/404.mdx'

const { name } = frontmatter
const meta = { title: name }
---

<Default {...meta}>
  <article>
    <div class="container">
      <div class="section">
        <div class="lg:col-start-3 lg:col-span-6">
          <h1 class="h0">{name}</h1>
        </div>
      </div>
    </div>
  </article>
</Default>
