---
import Default from '../layouts/Default.astro'

const name = 'Page not found.'
const meta = { name }
---

<Default {...meta}>
  <article>
    <div class="container">
      <div class="section">
        <div class="lg:col-start-2">
          <h1 class="h0">{name}</h1>
        </div>
      </div>
    </div>
  </article>
</Default>
