---
import Default from '@layouts/Default.astro'

export async function getStaticPaths() {
  const pages = await Astro.glob('../data/pages/foo.mdx')

  return pages.map(page => ({
    params: {
      slug: page.frontmatter.slug,
    },
    props: {
      page,
    },
  }))
}

const { frontmatter, Content } = Astro.props.page
const { name } = frontmatter
---

<Default>
  <article>
    <div class="container">
      <div class="grid lg:gap-10 lg:grid-cols-8">
        <div class="lg:col-span-6 lg:col-start-3">
          <h1 class="title">{name}</h1>
          <div class="prose prose-black prose-lg md:prose-xl">
            <Content />
          </div>
        </div>
      </div>
      <!-- <details>
        <summary>dasasas</summary>
        <p>sdsdsd</p>
      </details> -->
    </div>
  </article>
</Default>
