---
import { getCollection } from 'astro:content'

import '@/styles/global.css'

import { SITE } from '@/config'
import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Subscribe from '@/components/Subscribe.astro'
import Menu from '@/components/Menu.astro'
import Contact from '@/components/Contact.astro'
import Prose from '@/components/Prose.astro'
import ModalMenu from '@/components/Modal/Menu/index.svelte'
import ModalMenuMenu from '@/components/Modal/Menu/Menu.astro'

export async function getStaticPaths() {
  const pageEntries = await getCollection('pages')
  return pageEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<html lang={SITE.lang}>
  <BaseHead />
  <body class:list={[entry.theme == 'white' && 'bg-qux text-white']}>
    <div class="flex flex-col w-full min-h-screen">
      <Header />
      <main class="flex-auto">
        <pre>{JSON.stringify(entry, null, 20)}</pre>
        <article class="flex-auto pb-10" id={entry.slug}>
          <div class="container">
            <div class="grid md:gap-10 md:grid-cols-8 relative">
              <div class="md:col-span-2"></div>
              <div class="md:col-span-6">
                <h1 class="h1 mb-10">{entry.name}</h1>
                <Prose
                  class={entry.theme == 'white' ? 'prose-white' : 'prose-black'}
                >
                  <Content />
                </Prose>
              </div>
            </div>
          </div>
        </article>
      </main>
      <Contact />
      <Subscribe />
      <Menu />
      <Footer />
    </div>
    <ModalMenu client:load>
      <ModalMenuMenu />
    </ModalMenu>
  </body>
</html>
