---
import Contact from '@components/Contact.astro'
import Pre from '@components/Pre.astro'
import Default from '@layouts/Default.astro'

import * as page from '../data/pages/business-engines.mdx'

const { frontmatter } = page
const { name, seo } = frontmatter
---

<Pre data={page} />
<Default title={seo.title}>
  <article>
    <div class="container">
      <div class="section">
        <div class="lg:col-start-2">
          <h1 class="title">{name}</h1>
          <p class="intro">
            {seo.description}
          </p>
          <div class="prose">
            <p class="lead">
              The ultimate outcome of most of our work centres on business
              engines. Every new proposition, every new product and every new
              venture should be thought of as a business engine. Anything else
              is just a vanity project.
            </p>
            <p class="lead">
              Business engines unlock new market opportunities, reach new
              customers and generate new sources of income. They’re always built
              on new ideas, and the best enable entirely new customer
              behaviours: they give them something they didn’t know they needed.
            </p>
            <p>
              To be worth making (ROI) a new engine has to offer customers
              something new (a compelling proposition) that they want to buy
              (distinctive positioning). It needs to be designed cleverly to
              meet future customer needs (innovative product model). It must be
              easy for customers to get the most from it (world-class
              experience). It needs to be built with the simplest and best
              possible components (proven platforms + new technologies) and run
              on the right fuel (content, data and business services). Finally,
              it needs to start first time (launch strategy), accelerate
              smoothly (growth strategy) and generate plenty of energy returns
              (a smart business model).
            </p>
            <p>
              Within each of these building blocks are many smaller elements
              that need work. Too many good ideas fail to become successful
              innovations because they don’t get all the moving parts to work
              together. They fail because of a lack of holistic thinking.
            </p>
            <p>
              Our business engine model isn’t a rigid set of rules: it’s a way
              to think about all of the moving parts and what we need them to
              turn into.
            </p>
          </div>
        </div>
      </div>
    </div>

    <section class="bg-yellow">
      <div class="container">
        <div class="flex flex-col gap-5 lg:(flex-row)">
          <h2 class="h3">Some of the ways we use it</h2>

          <div class="divide-y divide-y-black/40">
            <article class="space-y-5">
              <h3 class="h4">Team workshops</h3>
              <p>
                Team workshops that help everyone to think differently by
                building a futurestate service or company and looking back at
                what it has achieved
              </p>
            </article>
            <article class="space-y-5">
              <h3 class="h4">Team workshops</h3>
              <p>
                Team workshops that help everyone to think differently by
                building a futurestate service or company and looking back at
                what it has achieved
              </p>
            </article>
          </div>
        </div>
      </div>
    </section>
  </article>
  <Contact />
</Default>
