---
import Default from '../layouts/Default.astro'
import { frontmatter, Content } from '../content/pages/404.mdx'
import Contact from '@/components/Contact.astro'
import ContactForm from '@/components/ContactForm.astro'
import Accordion from '@/components/Accordion.svelte'

const { name } = frontmatter
const meta = { title: name }
---

<Default {...meta}>
  <article class="pt-10">
    <div class="bg-yellow">
      <div class="container">
        <div class="lg:grid lg:grid-cols-8 lg:gap-10">
          <div class="lg:col-start-3 lg:col-span-6">
            <h1 class="h0">{name}</h1>
            <div class="prose prose-lg prose-black md:prose-xl">
              <Content />
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="bg-[lime] py-24">
      <div class="container">
        <div class="lg:grid lg:grid-cols-8 lg:gap-10">
          <div class="lg:col-span-2">
            <h2 class="h2">Mapping FAQs</h2>
          </div>

          <div class="lg:col-span-6">
            <div class="prose prose-black prose-lg md:prose-xl">
              <p>
                If you’ve read this far you already know that innovation is
                hard. Whether you’re here because of limited success, a series
                of outright disasters, or you just want to give yourself the
                best chance of success this programme will help you get to where
                you need to.
              </p>
              <Accordion
                client:visible
                title="Do you need us to provide lots of data?"
              >
                <div class="prose prose-black prose-lg md:prose-xl">
                  <blockquote>
                    <p>
                      If you’ve read this far you already know that innovation
                      is hard. Whether you’re here because of limited success, a
                      series of outright disasters, or you just want to give
                      yourself the best chance of success this programme will
                      help you get to where you need to.
                    </p>
                  </blockquote>
                </div>
              </Accordion>
              <Accordion
                client:visible
                title="How do you work?"
              >
                <div class="prose prose-black prose-lg md:prose-xl">
                  <blockquote>
                    <p>
                      If you’ve read this far you already know that innovation
                      is hard. Whether you’re here because of limited success, a
                      series of outright disasters, or you just want to give
                      yourself the best chance of success this programme will
                      help you get to where you need to.
                    </p>
                  </blockquote>
                </div>
              </Accordion>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Contact
      name="Let’s start"
      description="Ask us a question..."
      class="bg-qux text-white"
    >
      <div class="prose prose-white prose-lg md:prose-xl" slot="foo">
        <p>
          If you still have questions about what you need, what’s right for you
          and you’re not quite ready to schedule your call, no problem. Use the
          form to drop us a line and we’ll respond within 24hours.
        </p>
      </div>
      <ContactForm />
    </Contact>
  </article>
</Default>
