---
import Default from "@layouts/Default.astro";


---
<Default>
  <article>
    <div class="container">
      <details>
        <summary>dasasas</summary>
        <p>sdsdsd</p>
      </details>
    </div>
  </article>
</Default>