---
import Default from '@layouts/Default.astro'
const name = 'Futurestate Design'
const description =
  'It’s really very simple. If you don’t make your future happen, the future will be done to you. That’s unlikely to go well.'
---

<Default>
  <article>
    <div class="container">
      <div class="lg:grid lg:gap-10 lg:grid-cols-default">
        <div class="lg:col-start-2">
          <h1 class="title">{name}</h1>
          <p>It’s really very simple. If you don’t make your future happen, the future will be done to you.</p>
          <p>That’s unlikely to go well.</p>
        </div>
      </div>
    </div>
  </article>
</Default>
