---
import { SITE } from '@/config'
import Default from '@/layouts/Default.astro'
import { Section, Prose } from '@/components/index.astro'
import Work from '@/containers/Work.astro'

const meta = {
  title: `${SITE.name} ___A business innovation company.`,
  description: 'Design the future. Create it now. Repeat.',
  url: '/',
}

const callout = {
  name: 'Is it the right approach for you?',
  url: { name: 'Get in touch', href: null, 'x-bind': 'toggleContactModal' },
}
---

<Default {...meta}>
  <article>
    <div class="py-20">
      <div class="container">
        <div class="grid gap-4 md:gap-10 md:grid-cols-8">
          <div class="md:col-span-2"></div>
          <div class="md:col-span-6 border-b border-gray pb-12">
            <p class="h0 mb-10">
              <span class="font-black block">Design the future.</span>
              <span class="font-bold block">Create it now.</span>
              <span>Repeat.</span>
            </p>
            <Prose>
              <p class="h2">
                We design the future of companies, services and products.
              </p>
              <p class="h2">
                Our work is exclusively focused on enabling companies to take
                big leaps forward; to invent their future and make it happen.
                We’ll help you see past the short-term roadmap to do to your
                market what a disruptor would do to you.
              </p>
            </Prose>
          </div>
        </div>
      </div>
    </div>

    <Work />

    <Section name="How we work">
      <p class="lead">From a single board advisor to a complete team project</p>
      <p>
        Our core team of innovation specialists can call on an extensive network
        of expert practitioners, subject matter experts and partner companies to
        support almost any need with top-tier people.
      </p>
      <img src="/images/how-we-work.svg" alt="" loading="lazy" />
      <p>
        We’re offering our time, our networks, and our skills to help
        entrepreneurs and businesses start and scale purpose-driven
        organisations for sustainable, long-term growth.
      </p>
    </Section>

    <Section name="About us">
      <p class="lead">20 years, 350 companies etc...copy to follow here</p>
      <p>
        Our core team of innovation specialists can call on an extensive network
        of expert practitioners, subject matter experts and partner companies to
        support almost any need with top-tier people.
      </p>
      <p>
        We’ve worked with a lot of great people over the years (and plenty who
        were not so great) and we only want our clients to work with specialists
        and partners who we trust to do an exceptional job.
      </p>
    </Section>
  </article>
</Default>
