---
import IconArrow from '@components/Icon/Arrow.astro'
import { SITE } from '@config'
import Default from '@layouts/Default.astro'

const services = await Astro.glob('../data/services/**/*.mdx')

const meta = {
  title: `${SITE.name} ___A business innovation company.`,
  description: 'Design the future. Create it now. Repeat.',
  url: '/',
}
---

<Default {...meta}>
  <article>
    <div class="py-20">
      <div class="container">
        <div class="lg:pl-cols-6">
          <p class="text-8xl">
            <span class="font-black block">Design the future.</span><span
              class="font-bold block">Create it now.</span
            >Repeat.
          </p>
          <div class="prose prose-2xl">
            <p>We design the future of companies, services and products.</p>
            <p>
              Our work is exclusively focused on enabling companies to take big
              leaps forward; to invent their future and make it happen. We’ll
              help you see past the short-term roadmap to do to your market what
              a disruptor would do to you.
            </p>
          </div>
        </div>
      </div>
    </div>

    <section class="py-10">
      <div class="container">
        <div class="grid gap-4 lg:grid-cols-8 lg:gap-10">
          <div class="lg:col-span-2">
            <h2 class="h3">
              About us
              <br />
              <IconArrow />
            </h2>
          </div>
          <div class="lg:col-span-6 bg-yellow">
            <h3 class="h3">20 years, 350 companies etc...</h3>
            <div class="prose prose-2xl prose-black max-w-none">
              <p>
                Our core team of innovation specialists can call on an extensive
                network of expert practitioners, subject matter experts and
                partner companies to support almost any need with top-tier
                people.
              </p>
              <p>
                We’ve worked with a lot of great people over the years (and
                plenty who were not so great) and we only want our clients to
                work with specialists and partners who we trust to do an
                exceptional job.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</Default>
