---
import Layout from '../layouts/Layout.astro'
import H0 from '@components/H0.astro'
---

<Layout>
	<article class="bg-yellow">
		<div class="foo">
			<div class="lg:pl-foo">
				<div class="prose text-[32px] lg:text-[48px] leading-none max-w-none">
					<h1>Design the future. Create it now. Repeat.</h1>
					<p>The future belongs to the future-makers.</p>
					<p>
						The innovators who take big leaps while others are celebrating small
						steps; who invent new markets while others are trying to defend the
						old ones.
					</p>
					<p>
						Here at Futurestate we’re on a mission to help as many
						forward-thinking companies as possible become successful innovators.
					</p>
					<p>
						We’re a super-experienced team of strategists, researchers,
						designers and technologists. We’ve helped companies create
						next-generation products, services and ventures for 20 years.
					</p>
				</div>
				<a href="#" class="button">Button</a>
			</div>
		</div>
		<section class="bg-[#001E20] text-white">
			<div class="foo">
				<h2>Services</h2>
				<article>
					<h3 class="c-h2">Innovation projects</h3>
					<p>
						Hands-on expert practitioner support for the bold new propositions,
						radical rethinks and digital inventions you need to make work ASAP.
					</p>
				</article>
			</div>
		</section>
	</article>
</Layout>
