---
import Hero from '@components/Hero.astro'
import { SITE } from '@config'
import Layout from '../layouts/Layout.astro'

const services = await Astro.glob('../data/services/**/*.mdx')

const meta = {
  title: `${SITE.name} ___A business innovation company.`,
  description: 'Design the future. Create it now. Repeat.',
  url: '/',
}
---

<Layout {...meta}>
  <article>
    <Hero
      name={`<span class="font-bold block">Design the future.</span><span class="font-medium block">Create it now.</span>Repeat.`}
    />

    <div class="relative">
      <div class="h-1px w-64px bg-black absolute top-0 left-0 lg:(w-110px)">
      </div>
      <div class="foo py-60px lg:(py-120px)">
        <div class="lg:pl-foo">
          <div class="text-32px space-y-1.25em lg:(text-48px)">
            <p>The future belongs to the future-makers.</p>
            <p>
              The innovators who take big leaps while others are celebrating
              small steps; who invent new markets while others are trying to
              defend the old ones.
            </p>
            <p>
              Here at Futurestate we’re on a mission to help as many
              forward-thinking companies as possible become successful
              innovators.
            </p>
            <p>
              We’re a super-experienced team of strategists, researchers,
              designers and technologists. We’ve helped companies create
              next-generation products, services and ventures for 20 years.
            </p>
            <p>If you want to be a future-maker, we’d love to work with you.</p>
          </div>
        </div>
      </div>
    </div>

    <section class="bg-qux text-white py-8 lg:(py-100px)">
      <div class="foo">
        <h2 class="sr-only">Business innovation experts</h2>
        {
          services.map((service) => (
            <article class="card">
              <div class="card__aside">
                <Fragment set:html={service.frontmatter.image} />
              </div>
              <div class="card__main">
                <h3 class="h2 mb-3 lg:mb-8">{service.frontmatter.name}</h3>
                <p class="h4">{service.frontmatter.description}</p>
              </div>
            </article>
          ))
        }
      </div>
    </section>
  </article>
</Layout>
