---
import Layout from '../layouts/Layout.astro'
import H0 from '@components/H0.astro'
---

<Layout>

	<div class="bg-yellow">
		<div class="container px-4 mx-auto lg:px-11">
			<div class="lg:pl-[306px]">
				<div class="prose text-[32px] lg:text-[48px] leading-none max-w-none">
					<p>The future belongs to the future-makers.</p>
					<p>
						The innovators who take big leaps while others are celebrating small
						steps; who invent new markets while others are trying to defend the
						old ones.
					</p>
					<p>
						Here at Futurestate we’re on a mission to help as many
						forward-thinking companies as possible become successful innovators.
					</p>
					<p>
						We’re a super-experienced team of strategists, researchers,
						designers and technologists. We’ve helped companies create
						next-generation products, services and ventures for 20 years.
					</p>
				</div>
			</div>
		</div>
		<div class="grid gap-6">
			<H0 class="md:hidden">Landing pages titles 80/80(-1% Kerning)</H0>
			<H0 class="hidden md:block lg:hidden"
				>Landing pages titles 100/100(-1% Kerning)</H0
			>
			<H0 class="hidden lg:block">Landing pages titles 120/120(-1% Kerning)</H0>
			<h1 class="c-h1">Article page titles and main headings 80/80</h1>
		</div>
		<div class="prose">
			<h2>sdsdsdsd</h2>
			<h3>sdsdsdsd</h3>
		</div>
		<div class="h-8 w-8 bg-yellow"></div>
	</div>
</Layout>
