---
import { SITE } from '@config'
import Default from '@layouts/Default.astro'
import IconArrow from '@components/Icon/Arrow.astro'
import Link from '@components/Link.astro'
import Contact from '@components/Contact.astro'
import ContactForm from '@components/ContactForm.astro'
import Subscribe from '@components/Subscribe.astro'

const services = await Astro.glob('../data/services/**/*.mdx')

const meta = {
  title: `${SITE.name} ___A business innovation company.`,
  description: 'Design the future. Create it now. Repeat.',
  url: '/',
}
---

<!-- <pre>{JSON.stringify(data, null, 2)}</pre> -->
<Default {...meta}>
  <article>
    <div class="py-20">
      <div class="container">
        <div class="section">
          <div class="lg:col-span-2"></div>
          <div class="lg:col-span-6">
            <p class="text-8xl tracking-[-0.01em] mb-[0.25em]">
              <span class="font-black block">Design the future.</span><span
                class="font-bold block">Create it now.</span
              >Repeat.
            </p>
            <div class="prose prose-black prose-lg md:prose-xl">
              <p class="lead">
                We design the future of companies, services and products.
              </p>
              <p class="lead">
                Our work is exclusively focused on enabling companies to take
                big leaps forward; to invent their future and make it happen.
                We’ll help you see past the short-term roadmap to do to your
                market what a disruptor would do to you.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <section class="py-10">
    <div class="container">
      <div class="grid gap-4 lg:gap-10 lg:grid-cols-8">
        <div class="lg:col-span-2">
          <h2 class="h3">
            What we do
            <br />
            <IconArrow class="rotate-45" />
          </h2>
        </div>
        <div class="lg:col-span-6">
          <div class="prose prose-black prose-lg md:prose-xl">
            <p class="lead">
              Our work spans three areas: invention, reinvention and
              intervention.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <article class="py-10">
    <div class="container">
      <div class="grid gap-4 lg:gap-10 lg:grid-cols-8">
        <div class="lg:col-span-2">
          <h2 class="h3">
            How we work
            <br />
            <IconArrow class="rotate-45" />
          </h2>
        </div>
        <div class="lg:col-span-6">
          <div class="prose prose-black prose-lg md:prose-xl">
            <p class="lead">
              From a single board advisor to a complete team project
            </p>
            <p>
              Our core team of innovation specialists can call on an extensive
              network of expert practitioners, subject matter experts and
              partner companies to support almost any need with top-tier people.
            </p>
            <p>
              We’re offering our time, our networks, and our skills to help
              entrepreneurs and businesses start and scale purpose-driven
              organisations for sustainable, long-term growth.
            </p>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="py-10">
    <div class="container">
      <div class="grid gap-4 lg:gap-10 lg:grid-cols-8">
        <div class="lg:col-span-2">
          <h2 class="h3">
            About us
            <br />
            <IconArrow class="rotate-45" />
          </h2>
        </div>
        <div class="lg:col-span-6">
          <div class="prose prose-black prose-lg md:prose-xl mb-10">
            <h3>20 years, 350 companies etc...</h3>
            <p>
              Our core team of innovation specialists can call on an extensive
              network of expert practitioners, subject matter experts and
              partner companies to support almost any need with top-tier people.
            </p>
            <p>
              We’ve worked with a lot of great people over the years (and plenty
              who were not so great) and we only want our clients to work with
              specialists and partners who we trust to do an exceptional job.
            </p>
          </div>
          <ul class="flex flex-wrap gap-8">
            <li><Link href="/about">About us</Link></li>
            <li><Link href="/work">Our clients and work</Link></li>
          </ul>
        </div>
      </div>
    </div>
  </article>

  <Contact />

  <Subscribe class="bg-[#F7F7F7]" />
</Default>
