---
import { SITE } from '@config'
import Layout from '../layouts/Layout.astro'

const services = await Astro.glob('../data/services/**/*.mdx')

const meta = {
  title: `${SITE.name} ___A business innovation company.`,
  description: 'Design the future. Create it now. Repeat.',
  url: '/',
}
---

<Layout {...meta}>
  <article class="bg-yellow">
    <div class="pt-80px pb-200px lg:(pt-100px)">
      <div class="foo">
        <div class="lg:pl-foo">
          <h1 class="h0">
            Design the future.<br />Create it now. <br />Repeat.
          </h1>
        </div>
      </div>
    </div>

    <div class="relative">
      <div class="h-1px w-64px bg-black absolute top-0 left-0 lg:(w-110px)">
      </div>
      <div class="foo py-64px lg:(py-180px)">
        <div class="lg:pl-foo">
          <div class="text-32px space-y-1.25em lg:(text-48px)">
            <p>The future belongs to the future-makers.</p>
            <p>
              The innovators who take big leaps while others are celebrating
              small steps; who invent new markets while others are trying to
              defend the old ones.
            </p>
            <p>
              Here at Futurestate we’re on a mission to help as many
              forward-thinking companies as possible become successful
              innovators.
            </p>
            <p>
              We’re a super-experienced team of strategists, researchers,
              designers and technologists. We’ve helped companies create
              next-generation products, services and ventures for 20 years.
            </p>
            <p>If you want to be a future-maker, we’d love to work with you.</p>
          </div>
        </div>
      </div>
    </div>

    <section class="bg-qux text-white py-10 lg:(py-140px)">
      <div class="foo">
        <h2 class="sr-only">Services</h2>
        {
          services.map((service) => (
            <article class="grid gap-6 md:(md:grid-cols-[auto_1fr] gap-10) mb-12 last:(mb-0)">
              <div class="md:(w-270px h-270px flex items-center justify-center)">
                <Fragment set:html={service.frontmatter.image} />
              </div>
              <div class="border-b pb-12">
                <h3 class="h2 mb-3 lg:mb-8">{service.frontmatter.name}</h3>
                <p class="h4">{service.frontmatter.description}</p>
              </div>
            </article>
          ))
        }
      </div>
    </section>
  </article>
</Layout>
