---
import '@/styles/global.css'
---

<html lang="en">
  <head>
    <title>Modal</title>
  </head>
  <body x-data="{'isModalOpen': false}" x-on:keydown.escape="isModalOpen=false">
    <div class="container">
      <button x-on:click="isModalOpen = true">Open Modal</button>

      <div x-data="{ expanded: false }">
        <button x-on:click="expanded = ! expanded">Collapse</button>

        <div x-show="expanded" x-collapse>
          <p>
            Ex anim aute ipsum aute officia pariatur anim. Anim sint nulla aute
            anim nulla aute id laboris mollit pariatur. Exercitation occaecat
            nisi Lorem culpa ea velit anim aliqua occaecat sit. Officia
            consectetur nisi dolore nostrud. Eiusmod commodo duis culpa aute
            Lorem consectetur duis in deserunt proident. Laborum sint labore
            magna cillum adipisicing sit consectetur ea nulla Lorem. Deserunt
            laborum sunt laboris laborum. Quis duis culpa cupidatat quis elit.
            Magna quis occaecat cupidatat Lorem voluptate pariatur est
            consectetur laborum laboris. Mollit labore ea dolore dolore ullamco
            ut laborum nulla aute culpa eiusmod veniam occaecat adipisicing.
            Officia excepteur ipsum velit laboris magna mollit fugiat aliqua
            esse sunt. Voluptate dolor occaecat pariatur exercitation cillum
            cillum.
          </p>
        </div>
      </div>
    </div>
    <div
      class="fixed inset-[200px] bg-qux text-white"
      role="dialog"
      tabindex="-1"
      x-show="isModalOpen"
      x-on:click.away="isModalOpen = false"
      x-cloak
    >
      <div class="model-inner">
        <div class="modal-header">
          <h3>Hello World</h3>
          <button aria-label="Close" x-on:click="isModalOpen=false">✖</button>
        </div>
        <p>
          Natus earum velit ab nobis eos. Sed et exercitationem voluptatum omnis
          dolor voluptates. Velit ut ipsam sunt ipsam nostrum. Maiores officia
          accusamus qui sapiente. Dolor qui vel placeat dolor nesciunt quo dolor
          dolores. Quo accusamus hic atque nisi minima.
        </p>
      </div>
    </div>
  </body>
</html>

<script>
  import '../scripts/bundle.js'
</script>
