---
import Plain from '@layouts/Plain.astro'
import LayoutGrid from '@components/LayoutGrid.astro'
import IconArrow from '@components/Icon/Arrow.astro'
---

<Plain>
  <div class="container bg-white min-h-screen">
    <div class="relative">
      <div class="grid gap-10 pt-[7.5em]">
        <div class="grid gap-8">
          <div class="flex justify-between">
            <div class="h2 text-red-light">H1</div>
            <div class="h2 text-red-light">110/110</div>
          </div>
          <h2 class="h0">
            Landing pages titles
            <span class="md:hidden">72/68</span>
            <span class="hidden md:inline-block">110/110</span>
          </h2>
        </div>

        <h2 class="h1">
          Landing page titles
          <span class="text-red-light md:hidden">64/62</span>
          <span class="text-red-light hidden md:inline-block">90/80</span>
        </h2>
        <h2 class="h2">
          Section headings and body titles
          <span class="text-red-light md:hidden">32/34</span>
          <span class="text-red-light hidden md:inline-block">48/50</span>
        </h2>
        <p class="h2">
          We design the future of companies, services and products.
          <span class="text-red-light md:hidden">32/34</span>
          <span class="text-red-light hidden md:inline-block">48/50</span>
        </p>

        <div class="border-t-2 border-t-black"></div>
        <div class="prose prose-black">
          <p>
            Over the last 20 years, our work has touched hundreds of millions of
            people, generated billions in revenue.
          </p>
        </div>

        <div class="prose prose-black prose-lg">
          <p>
            Over the last 20 years, our work has touched hundreds of millions of
            people, generated billions in revenue.
          </p>
        </div>

        <div class="prose prose-black prose-xl">
          <p>
            Over the last 20 years, our work has touched hundreds of millions of
            people, generated billions in revenue.
          </p>
        </div>

        <div class="prose prose-black prose-xl">
          <p class="intro">
            We work best with people who fit a few basic criteria. If you
            recognise yourself here, we’ll get on just fine.
          </p>
          <p>
            Over the last 20 years, our work has touched hundreds of millions of
            people, generated billions in revenue.
          </p>
        </div>

        <div class="border-t-2 border-t-black"></div>

        <div class="h2 text-red-light">Small text link (32/34)</div>
        <div>
          <a
            href="#"
            class="text-[2rem] leading-[calc(34/32)] flex items-center bg-yellow"
          >
            <span class="underline">Let’s talk</span>
            <IconArrow class="text-base ml-3" />
          </a>
        </div>

        <div class="h2 text-red-light">List text link (32/34)</div>
        <div>
          <a
            href="#"
            class="text-[2rem] leading-[calc(34/32)] flex items-center bg-yellow"
          >
            <span class="underline">Let’s talk</span>
            <IconArrow class="ml-3" />
          </a>
        </div>

        <div class="h2 text-red-light">Promo/content link</div>

        <div>
          <h3 class="text-2xl font-bold">The Futurestate Manifesto</h3>
          <p class="text-2xl font-light mb-3">
            10 guiding principles behind our work
          </p>
          <a href="#" class="text-[32px] flex items-center bg-red">
            <span class="underline">Read now</span>
            <IconArrow class="text-base ml-3" />
          </a>
        </div>

        <div class="border-t-2 border-t-black"></div>

        <div class="space-y-8">
          <div class="h2 text-red-light">32px link arrow</div>
          <div class="text-[2rem] flex flex-wrap gap-4">
            <IconArrow />
            <IconArrow class="rotate-45" />
          </div>
        </div>

        <div class="space-y-8">
          <div class="h2 text-red-light">16px link arrow</div>
          <div class="text-base flex flex-wrap gap-4">
            <IconArrow />
            <IconArrow class="rotate-45" />
          </div>
        </div>

        <LayoutGrid />
      </div>
    </div>
  </div>
</Plain>

<style></style>
