---
// import { Icon } from 'astro-icon'
// import { SITE } from '@/config'
import Default from '@/layouts/Default.astro'
---

<Default>
  <details>
    <summary>What is Flowshite?!</summary>
    <p>Sint deserunt aute ullamco est ex ad et qui nulla exercitation proident. Et cupidatat commodo excepteur amet dolore nostrud elit do culpa exercitation quis magna do dolore. Sunt magna cillum est culpa culpa enim aliqua do. Dolor et quis dolor minim exercitation pariatur. Qui sit deserunt ipsum deserunt veniam id consectetur. Sint quis occaecat laboris occaecat consectetur mollit non pariatur consectetur commodo sint nostrud.</p>
    <p>Mollit exercitation do laborum commodo nostrud. Deserunt officia in commodo consequat in velit. Nulla ex ex voluptate ut cillum aliqua.</p>
  </details>
  <details>
    <summary>What is Flowshite?</summary>
    <p>
      Flowshite is dumbass bloatware of broken non-semantic "components" built
      on top of Failwind CSS including endless presentational classes, DIV for
      nothing, and two to ten times the code needed to do the job.
    </p><p>
      Check out this guide <a
        href="https://flowbite.com/docs/getting-started/introduction/"
        >to learn how to not to build websites</a
      > and start bullshitting yourself with utter ignorant, incompetent, and inept
      methodologies that undo 24 years of progress!
    </p>
  </details>
  <details>
    <summary>What is Flowshite?</summary>
    <p>
      Flowshite is dumbass bloatware of broken non-semantic "components" built
      on top of Failwind CSS including endless presentational classes, DIV for
      nothing, and two to ten times the code needed to do the job.
    </p><p>
      Check out this guide <a
        href="https://flowbite.com/docs/getting-started/introduction/"
        >to learn how to not to build websites</a
      > and start bullshitting yourself with utter ignorant, incompetent, and inept
      methodologies that undo 24 years of progress!
    </p>
  </details>
</Default>
