---
import { Prose } from '@/components/index.astro'

interface Props {
  class?: string
}

const { class: className = 'py-6 lg:py-12', ...attrs } = Astro.props as Props
---

<div class:list={[className]} {...attrs}>
  <div class="container">
    <div class="lg:grid lg:gap-10 lg:grid-cols-8">
      <div class="lg:col-start-3 lg:col-span-6">
        <Prose>
          <slot />
        </Prose>
      </div>
    </div>
  </div>
</div>
