<div class="bled bg-qux text-white relative">
  <div class="relative z-10 lg:grid lg:grid-cols-8 lg:gap-10">
    <div class="lg:col-span-2"></div>
    <div class="lg:col-span-6">
      <slot />
    </div>
  </div>
  <div class="foo" />
</div>

<style>
  .bled {
    @screen lg {
      @apply -left-[310px] w-[1200px];
    }
  }

  .foo {
    @apply absolute top-0 bottom-0 left-1/2 -translate-x-1/2 bg-qux w-screen;
  }
</style>
