---
import { Icon } from 'astro-icon'

export interface Props {
  name: string
  url: {
    name: string
    href: string
    target?: string
  }
  image?: {
    src?: string
    width?: string
    height?: string
    alt?: string
  }
  class?: string
}

const { name, url, image,  class: className } = Astro.props as Props
---

<article class:list={className}>
  <div class="flex flex-col gap-4 md:flex-row md:items-center">
    {
      image && image.src && (
        <div class="flex-none md:order-2">
          <img src={image.src} loading="lazy" {...image} />
        </div>
      )
    }
    <div class="border-l-8 border-yellow pl-3 md:flex-auto">
      <h3 class="text-2xl mb-4 md:text-4xl">{name}</h3>
      <a {...url} class="inline-flex items-center text-3xl md:text-5xl">
        <span class="underline">{url.name}</span>
        <Icon name="arrow-45" class="text-3xl ml-4" />
      </a>
    </div>
  </div>
</article>
