---
import { SITE } from '@/config'
import IconArrow from '@/components/Icon/Arrow.astro'

export interface Props {
  class?: string
}

const { class: className } = Astro.props as Props
---

<article class:list={['callout', className]}>
  <h3 class="body-lg">Is it the right approach for you?</h3>
  <a href={`mailto:${SITE.email}`} class="flex text-[32px] md:text-[48px]">
    <span>Get in touch</span>
    <IconArrow class="ml-2" />
  </a>
</article>

<style>
  .callout {
    @apply border-l-8 border-yellow pl-2;
  }
</style>
