---
// interface Client {
//   frontmatter: {
//     name: string
//     logo?: string
//     image?: string
//   }
// }

// export interface Props {
//   clients: Client[]
// }

// const { clients } = Astro.props as Props

const clients = await Astro.glob('../content/clients/*.md')
clients.sort((a, b) => a.frontmatter.order - b.frontmatter.order)
---

<div class="md:col-span-6 grid gap-4 grid-cols-4 md:grid-cols-5 md:gap-[30px]">
  {
    clients.map((client) => {
      const { frontmatter } = client
      const { name, logo, image } = frontmatter
      return (
        <article>
          <h3 class="sr-only">{name}</h3>
          {!image && !logo && (
            <div class="aspect-w-15 aspect-h-9 bg-black/20" />
          )}

          {image && (
            <img src={image} alt={name} loading="lazy" class="grayscale" />
          )}

          {logo && <div class="aspect-w-15 aspect-h-9" set:html={logo} />}
        </article>
      )
    })
  }
</div>
