---
import Prose from './Prose.astro';

interface Props {
  name: string;
  description: string;
  url?: string;
  class?: string;
}

const {
  name,
  description,
  url,
  class: className = 'py-24 bg-yellow text-black',
  ...attrs
} = Astro.props as Props;
---

<section class:list={[className]} {...attrs}>
  <div class="container">
    <div class="lg:grid lg:grid-cols-10 lg:gap-10">
      <div class="lg:col-span-5 lg:col-start-4">
        <Prose>
          <h2>
            <button type="button" class="open-dialog-contact">{name}</button>
          </h2>
          <p class="h3">
            {description}
          </p>
        </Prose>
      </div>
    </div>
  </div>
</section>
