---
interface Props {
  name?: string
  description?: string
  url?: {
    name?: string
    url: string
  }
  class?: string
}

const {
  name = 'Let’s talk',
  description = 'Tell us what you are looking for to give us a feel for where you want to be...',
  class: className,
  ...attrs
} = Astro.props as Props
---

<div class:list={['py-20', className]} {...attrs}>
  <div class="container">
    <div class="section">
      <div class="lg:col-start-3 lg:col-span-6 lg:grid lg:grid-cols-6">
        <div class="lg:col-span-5 space-y-10">
          <h2 class="h0">{name}</h2>
          <p class="h2 text-white/40 relative pl-5">
            {description}
            <span class="absolute top-0 left-0 h-[1em] w-1 bg-yellow"></span>
          </p>
          <slot />
        </div>
      </div>
    </div>
  </div>
</div>
