---
import { Icon } from 'astro-icon';
import Prose from './Prose.astro';

interface Props {
  name: string;
  description: string;
  url?: string;
  theme?: string;
}

const {
  name,
  description,
  url,
  theme = 'bg-yellow',
} = Astro.props as Props;
---

<section class:list={['py-20 text-black', theme]}>
  <div class="container">
    <div class="lg:grid lg:grid-cols-10 lg:gap-10">
      <div class="lg:col-span-5 lg:col-start-4">
        <Prose>
          <p class="lead">
            {description}
          </p>
        </Prose>
        <h2>
          <button
            type="button"
            class="open-dialog-contact font-light inline-flex items-center text-[60px]"
          >
            <span class="underline">{name}</span>
            <Icon name="arrow/45/32" />
          </button>
        </h2>
      </div>
    </div>
  </div>
</section>
