---
import IconArrow from '@components/Icon/Arrow.astro'

interface Props {
  name?: string
  description?: string
  url?: {
    name?: string
    url: string
  }
  class?: string
}

const {
  name = 'Let’s talk',
  description = 'Tell us where you want to be. We’ll make sure you get there.',
  class: className,
  ...attrs
} = Astro.props as Props
---

<div class:list={['py-20', 'bg-yellow', 'text-black']} {...attrs}>
  <div class="container">
    <div class="section">
      <div class="lg:col-start-3 lg:col-span-6 lg:grid lg:grid-cols-6">
        <div class="lg:col-span-4 flex flex-col">
          <h2 class="text-[60px] order-2 mt-8">
            <a href="#" class="flex items-center">
              <span class="border-b-[0.05em]">Let’s talk</span>
              <IconArrow class="ml-1" />
            </a>
          </h2>
          <p class="text-[35px] leading-[1.14285714] order-1 font-light">
            {description}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
