---
import Prose from './Prose.astro'

interface Props {
  name: string
  description: string
  url: string
  class?: string
}

const {
  name,
  description,
  url,
  class: className = 'py-24 bg-yellow text-black',
  ...attrs
} = Astro.props as Props
---

<section class:list={[className]} {...attrs}>
  <div class="container">
    <div class="lg:grid lg:grid-cols-8 lg:gap-10">
      <div
        class="lg:col-start-3 lg:col-span-6 lg:grid lg:grid-cols-6 lg:gap-10"
      >
        <Prose class="lg:col-span-4">
          <h2>
            <a href={url}>{name}</a>
          </h2>
          <p class="h3">
            {description}
          </p>
        </Prose>
      </div>
    </div>
  </div>
</section>
