---
import H0 from './H0.astro'
import { SITE } from '@config'
---

<div class="" role="contentinfo">
	<div class="container mx-auto px-4">
		<H0 tag="h2">Let's talk</H0>
		<a href={SITE.email}>{SITE.email}</a>
		{SITE.telephone}
		<nav>
			<ul>
				<li>
					<a
						href={SITE.linkedin}
						class="c-large-link flex items-center hover:underline"
						target="_blank"
						rel="noopener noreferrer"
					>
						<div class="i-mdi-linkedin text-[32px]"></div>
						Linkedin
						<span class="i-custom:external text-[32px]"></span>
					</a>
				</li>
			</ul>
      <div class="i-mdi-medium text-[32px]"></div>
      <div class="i-mdi-instagram text-[32px]"></div>
      <div class="i-mdi-twitter text-[32px]"></div>
		</nav>
	</div>

	<div class="h-[1px] bg-black"></div>

	<div class="container mx-auto px-4"></div>
</div>
