---
import { SITE } from '@config'
import Logo from './Logo.astro'

export interface Props {
  class?: string
}

const { class: className, ...attrs } = Astro.props as Props
---

<div
  role="banner"
  class:list={[className]}
  {...attrs}
>
  <div class="container flex gap-5 items-center justify-between">
    <a href="/" title={`Return to the ${SITE.name} homepage`}>
      {SITE.name}
    </a>
    <button class="inline-flex">
      Menu
      <span class="i-custom:arrow"></span>
    </button>
    <!-- <div class="h3">___A business innovation company.</div> -->
  </div>
</div>

<style>
  [role='banner'] {
    @apply h-[59px] flex items-center lg:h-[99px];
  }
</style>
