---
import Logo from './Logo.astro'

export interface Props {
	class?: string
}

const { class: className, ...attrs } = Astro.props as Props
---

<div role="banner" class:list={[className]} {...attrs}>
	<a href="/">
		<Logo />
	</a>
</div>
