---
import { SITE } from '@config'
import Logo from './Logo.astro'

export interface Props {
  class?: string
}

const { class: className, ...attrs } = Astro.props as Props
---

<div role="banner" class:list={['py-10 lg:(py-60px)', className]} {...attrs}>
  <div class="foo grid gap-6 lg:(gap-0 grid-cols-[310px_1fr] items-center)">
    <a href="/" title={`Return to the ${SITE.name} homepage`}>
      <span class="sr-only">{SITE.name}</span>
      <Logo />
    </a>
    <div class="h3">___A business innovation company.</div>
  </div>
</div>
