---
import { Icon } from 'astro-icon'

interface Props {
  tag?: string
  class?: string
}

const { tag: Tag = 'a', class: className, ...props } = Astro.props as Props
---

<Tag class:list={['large-link', className]} {...props}>
  <span>
    <slot />
  </span>
  <Icon name="arrow-45" class="text-[30px] ml-4" />
</Tag>
