---
const cols = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
---

<div class="pointer-events-none fixed inset-0 z-50 flex flex-col">
  <div class="container flex flex-auto">
    <div class="grid flex-auto grid-cols-8 gap-4 md:gap-10 md:grid-cols-10">
      {cols.map(col => <div class={`bg-red/10 ${(col === 9 || col === 10) && 'hidden md:block'} `} data-col={col} />)}
    </div>
  </div>
</div>
