---
import IconArrow from '@components/Icon/Arrow.astro'

interface Item {
  name: string
  url: string
}

interface Props {
  items: Item[]
}

const { items } = Astro.props as Props
---

<nav class="py-24" id="menu">
  <div class="container">
    <div class="section">
      <div class="lg:col-start-2">
        <h3 class="h3 mb-20">Read more about:</h3>
        <ul>
          {
            items.map(({ name, url }) => (
              <li class="border-b-2 border-black/40">
                <a href={url} class="h3 flex items-center py-5 justify-between">
                  <span class="underline" set:html={name} />
                  <IconArrow />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</nav>
