---
import { Icon } from 'astro-icon'
import { Prose } from '@/components/index.astro'

interface Item {
  name: string
  url: string
}
---

<nav
  class="pt-8 pb-12 lg:py-24 bg-qux text-white"
  id="read-more-about"
  aria-labelledby="read-more-about-heading"
>
  <div class="container">
    <div class="grid gap-4 md:grid-cols-8 md:gap-10">
      <div class="md:col-start-3 md:col-span-6">
        <Prose class="mb-16">
          <h2 id="read-more-about-heading">Read more about:</h2>
        </Prose>
        <!-- <ul>
          {
            menu.map(({ name, url }: Item) => (
              <li class="border-b-2 border-white/30">
                <a
                  href={url}
                  class="text-[32px] md:text-5xl flex items-center py-5 justify-between"
                >
                  <span class="underline" set:html={name} />
                  <Icon name="arrow-45" class="text-[32px]" />
                </a>
              </li>
            ))
          }
        </ul> -->
      </div>
    </div>
  </div>
</nav>
