---
// @ts-ignore
import menu from '../content/menu.yml'
import IconArrow from '@/components/Icon/Arrow.astro'

interface Item {
  name: string
  url: string
}
---

<nav class="py-24 bg-qux text-white">
  <div class="container">
    <div class="grid gap-4 md:grid-cols-8 md:gap-10">
      <div class="md:col-start-3 md:col-span-6">
        <h3 class="h2 mb-20">Read more about:</h3>
        <ul>
          {
            menu.map(({ name, url }: Item) => (
              <li class="border-b-2 border-white/30">
                <a
                  href={url}
                  class="text-[32px] md:text-5xl flex items-center py-5 justify-between"
                >
                  <span class="underline" set:html={name} />
                  <IconArrow class="-rotate-45" />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</nav>
