---
const { ...props } = Astro.props
---

<div
  role="alert"
  class="bg-white py-4 lg:(py-5)"
  x-data="{ open: true }"
  x-show="open"
  {...props}
>
  <div class="foo">
    <div class="flex items-start lg:(items-center)">
      <div class="flex flex-auto mr-5 lg:(mr-8 items-center)">
        <a href="https://wilsonfletcher.com" target="_blank">
          <span class="sr-only">wilsonfletcher.com</span>
          <span class="i-custom:wf text-32px mr-4"></span>
        </a>
        <div class="flex-auto lg:(flex items-center justify-between)">
          <p class="text-14px leading-18px mb-4 lg:(text-16px mb-0)">
            <strong>Futurestate Design Co.</strong> are the artists formerly known
            as <strong>Wilson Fletcher</strong>. Read our founders’ announcement
            on the change of brand.
          </p>
          <a href="/the-next-twenty" class="button button--primary">Read more</a
          >
        </div>
      </div>
      <button type="button" x-on:click="open = ! open">
        <span class="sr-only">Close notification</span>
        <span class="i-custom:close text-26px"></span>
      </button>
    </div>
  </div>
</div>
