---
interface Props {
  class?: string
}

const { class: className, ...attrs } = Astro.props as Props
---

<div
  class:list={['prose', 'prose-default', 'prose-lg', 'lg:prose-xl', className]}
  {...attrs}
>
  <slot />
</div>
