---
import { Icon } from 'astro-icon'
---

<section class="border-y border-gray py-8 not-prose">
  <div class="flex items-center">
    <Icon name="listen" class="mr-8 text-[56px]" />
    <h2 class="h2">Read</h2>
  </div>
  <slot />
</section>
