---
import { slugify } from 'src/utils'
import { IconArrow, Prose } from '@/components/index.astro'

interface Props {
  name?: string
  class?: string
}

const {
  name,
  class: className = 'py-6 lg:py-12',
  ...attrs
} = Astro.props as Props
const id = name ? slugify(name) : null
const label = id ? `${id}-label` : null
---

<section
  class:list={[className]}
  id={id}
  aria-labelledby={label}
  {...attrs}
>
  <div class="container">
    <div class="grid gap-6 lg:gap-10 lg:grid-cols-8">
      <Prose class="lg:col-span-2">
        {
          name && (
            <h2>
              {name}
              <IconArrow class="hidden lg:block" />
            </h2>
          )
        }
      </Prose>
      <div class="lg:col-span-6">
        <slot />
      </div>
    </div>
  </div>
</section>
