---
import IconArrow from '@components/Icon/Arrow.astro'
---

<article class="py-10 lg:py-32">
  <div class="container">
    <div class="lg:grid lg:grid-cols-8 lg:gap-10">
      <div class="lg:col-start-3 lg:col-span-5 lg:space-y-12">
        <h2 class="h2">The Futuremakers</h2>
        <div class="prose prose-black prose-lg lg:prose-xl">
          <p>
            Insights into new innovations in digital business, interesting
            trends and new ways of thinking about them.
          </p>
          <a href="#" class="list-link">
            Let me read it first
            <IconArrow />
          </a>
        </div>
      </div>
    </div>
  </div>
</article>
