---
import { Section } from './index.astro'
import Link from './Link.astro'
import Prose from './Prose.astro'

interface Props {
  class?: string
}

const { class: className, ...attrs } = Astro.props as Props
---

<Section
  name="Futurestate Insights"
  inline
  class="bg-[#F7F7F7] text-black"
>
  <p>
    Insights into new innovations in digital business, interesting trends and
    new ways of thinking about them.
  </p>
  <Link href="#">Let me read it first</Link>
</Section>
