---
import { Section } from './index.astro'
import Link from './Link.astro'

interface Props {
  class?: string
}

const { class: className, ...attrs } = Astro.props as Props
---

<Section class="py-24 md:py-32">
  <h2>Futurestate Insights</h2>
  <p>
    Insights into new innovations in digital business, interesting trends and
    new ways of thinking about them.
  </p>

  <Link href="#">Let me read it first</Link>
</Section>
