<div class="py-10 bg-qux text-white">
  <div class="foo">
    <div class="lg:(pl-foo)">
      <div class="prose max-w-none">
        <h2 class="h0">Let’s talk</h2>
        <p class="h2 text-white/40">
          Tell us what you are looking for to give us a feel for where you want
          to be...
        </p>
      </div>
      <a href="#" class="button">Read more</a>
    </div>
  </div>
</div>
