---
interface Props {
  name?: string
  author?: string
  description?: string
  url?: string
  class?: string
}

const {
  name,
  author,
  description,
  url,
  class: className,
  ...attrs
} = Astro.props as Props
---

<article class:list={[className, 'not-prose', 'teaser']} {...attrs}>
  <h3 class="h5 font-bold">
    {name}
    {author && <span class="font-regular">by {author}</span>}
  </h3>
  <p>{description}</p>
  <slot>
    <a href={url}>Read now</a>
  </slot>
</article>

<style lang="postcss" is:global>
.teaser {
  @apply border-b border-gray py-6 bg-[lime];

  &:first-of-type {
    @apply border-none pt-0;
  }

  &:last-of-type {
    @apply border-none pb-0;
  }
}
</style>
