---
import Default from '@layouts/Default.astro'
import Contact from '@components/Contact.astro'
import Subscribe from '@components/Subscribe.astro'

import { frontmatter, Content } from '../data/pages/futurestate-manifesto.mdx'

interface Frontmatter {
  id: string
  name: string
  description?: string
}

const { name, description, seo } = frontmatter
const meta = { title: name, description: seo.description }

const manifesto = await Astro.glob<Frontmatter>('../data/manifesto/**.mdx')
manifesto.sort((a, b) => a.frontmatter.id - b.frontmatter.id)
---

<Default {...meta} class="bg-qux text-white">
  <section>
    <div class="container">
      <div class="section mb-20">
        <div class="lg:col-start-3 lg:col-span-6">
          <h1 class="title mb-10">{name}</h1>
          <!-- <p class="h1 lg:pr-2.5" set:html={description} /> -->
          <div class="prose prose-white prose-lg md:prose-xl">
            <Content />
          </div>
          <div class="grid gap-10 md:grid-cols-2 py-20">
            {
              manifesto.map((item) => (
                <article>
                  <div class="border-t-2 border-t-white/30 pt-6 lg:max-w-[22.5rem]">
                    <h2 class="title mb-5 text-white/50">
                      {item.frontmatter.id}
                    </h2>
                    <div class="prose prose-white prose-lg md:prose-xl">
                      <p>{item.frontmatter.description}</p>
                    </div>
                  </div>
                </article>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  <Contact />
  <Subscribe />
</Default>
