---
import Default from '@layouts/Default.astro'
import IconArrow from '@components/Icon/Arrow.astro'

import { frontmatter } from '../../data/pages/work.mdx'
import Subscribe from '@components/Subscribe.astro'
const { name, description, url } = frontmatter
const clients = await Astro.glob('../../data/clients/*.md')
clients.sort((a, b) => a.frontmatter.order - b.frontmatter.order)

const meta = { title: name, description, url }
---

<Default {...meta}>
  <article>
    <div class="mb-44">
      <div class="container">
        <div class="lg:grid lg:gap-10 lg:grid-cols-8">
          <div class="col-span-2"></div>
          <div class="col-span-6">
            <h1 class="title mb-12">{name}</h1>
            <p class="text-5xl mb-20">{description}</p>

            {
              clients && (
                <section>
                  <h2 class="sr-only">Clients</h2>
                  <div class="grid gap-5 grid-cols-2 md:grid-cols-6 md:gap-10">
                    {clients.map((client) => (
                      <article class="relative bg-black/20">
                        <h3 class="sr-onlxy">{client.frontmatter.name}</h3>
                        <div class="aspect-w-16 aspect-h-9" />
                      </article>
                    ))}
                  </div>
                </section>
              )
            }
          </div>
        </div>
      </div>
    </div>

    <section>
      <div class="container">
        <div class="section">
          <div class="lg:col-span-2">
            <h2 class="h3">
              Recent successes
              <IconArrow class="rotate-45" />
            </h2>
          </div>
          <div class="lg:col-span-6">
            <article
              class="grid lg:grid-cols-[4fr,2fr] gap-10 py-8 border-t border-t-black/40"
            >
              <div>
                <h3 class="h4 mb-3">
                  Simplified and digitized the mortgage-origination process
                </h3>
                <p class="prose prose-black prose-lg md:prose-xl">
                  At a large bank, cutting approval time for new loans from 2–10
                  days to 15 minutes, and reducing origination cost by 70
                  percent
                </p>
              </div>
              <div class="bg-black/50 h-[170px] hidden lg:block"></div>
            </article>

            <article
              class="grid grid-cols-[4fr,2fr] gap-10 py-8 border-t border-t-black/40"
            >
              <div>
                <h3 class="h4 mb-3">
                  Helped a telecom company transform its service-dispatching
                  process through automation,
                </h3>
                <p class="body">
                  Yielding better management of service technicians and
                  customer-service calls
                </p>
              </div>
              <div class="bg-[#D9D9D9] h-[170px]"></div>
            </article>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-qux text-white py-[200px]">
      <h2 class="sr-only">Testimonials</h2>
      <div
        class="relative w-full flex gap-10 snap-x snap-mandatory overflow-x-auto"
      >
        <div class="snap-center shrink-0">
          <div class="shrink-0 w-4 sm:w-48"></div>
        </div>
        <div class="snap-center shrink-0">
          <div class="bg-white text-black w-[730px] mx-auto p-12 shrink-0">
            <div class="w-[100px] h-[100px] mx-auto mb-12">
              <div class="aspect-w-1 aspect-h-1">
                <img
                  src="/images/photo.jpg"
                  alt=""
                  class="object-cover object-center"
                />
              </div>
            </div>
            <blockquote class="text-center">
              <p class="h4">
                ‘Its been really beneficial. It provided the whole company a
                unified picture to get behind and helped us understand the
                entire customer lifecycle’
              </p>
              <cite class="body text-black/50 not-italic">Founder, Axate</cite>
            </blockquote>
          </div>
        </div>
        <div class="snap-center shrink-0">
          <div class="bg-white text-black max-w-[730px] mx-auto p-12 shrink-0">
            <div class="w-[100px] h-[100px] mx-auto mb-12">
              <div class="aspect-w-1 aspect-h-1">
                <img
                  src="/images/photo.jpg"
                  alt=""
                  class="object-cover object-center"
                />
              </div>
            </div>
            <blockquote class="text-center">
              <p class="h4">
                ‘Its been really beneficial. It provided the whole company a
                unified picture to get behind and helped us understand the
                entire customer lifecycle’
              </p>
              <cite class="body text-black/50 not-italic">Founder, Axate</cite>
            </blockquote>
          </div>
        </div>
        <div class="snap-center shrink-0">
          <div class="bg-white text-black w-[730px] mx-auto p-12 shrink-0">
            <div class="w-[100px] h-[100px] mx-auto mb-12">
              <div class="aspect-w-1 aspect-h-1">
                <img
                  src="/images/photo.jpg"
                  alt=""
                  class="object-cover object-center"
                />
              </div>
            </div>
            <blockquote class="text-center">
              <p class="h4">
                ‘Its been really beneficial. It provided the whole company a
                unified picture to get behind and helped us understand the
                entire customer lifecycle’
              </p>
              <cite class="body text-black/50 not-italic">Founder, Axate</cite>
            </blockquote>
          </div>
        </div>
      </div>
    </section>

    <Subscribe />
  </article>
</Default>
