---
const posts = await Astro.glob('../thinking/*.mdx')
---

<section class="bg-black text-white">
  <div class="foo">
    <h1>Thinking</h1>
    <div class="lg:(pl-foo) divide-y divide-white">
      {
        posts.map((post) => (
          <article class="py-5 flex">
            <div class="lg:(mr-120px)">
              <h3 class="h3 mb-5">
                <a href={post.url}>{post.frontmatter.name}</a>
              </h3>
              <p>{post.frontmatter.description}</p>
            </div>
            <span class="i-custom:arrow h3" />
          </article>
        ))
      }
    </div>
    <pre>{JSON.stringify(posts, null, 2)}</pre>
  </div>
</section>
