---
import { Icon } from 'astro-icon'

export interface Props {
  name: string
  url: string
}

const { name, url, ...attrs } = Astro.props as Props
---

<a class="text-[60px] flex items-center" href={url} {...attrs}>
  <span>{name}</span>
  <Icon name="arrow-45" />
</a>
