---
import { Schema } from 'astro-seo-schema'
import type { MarkdownLayoutProps } from 'astro'

import '@styles/global.css'

// import { SITE } from '@config'

import SchemaOrganizationFutureStateDesignCo from '@components/Schema/Organization/FutureStateDesignCo.astro'
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

type Props = MarkdownLayoutProps<{
	name: string
	headline: string
	description: string
	image?: string
	datePublished?: string
}>

const { frontmatter } = Astro.props as Props
const { name, description, headline, image, datePublished } = frontmatter

const url = Astro.url
const meta = { name, headline, description, image, url }
---

<!DOCTYPE html>
<html lang="en">
	<BaseHead {...meta}>
		<>
			<Schema
				item={{
					'@context': 'https://schema.org',
					'@type': 'Article',
					name,
					headline: name,
					description,
					image,
					datePublished,
					author: [
						{
							'@type': 'Person',
							givenName: 'Mark',
							familyName: 'Wilson',
							jobTitle: 'Managing Partner & CEO',
							image: 'https://futurestate.design/images/mark-wilson.jpg',
							sameAs: ['https://www.linkedin.com/in/mwilson/'],
							worksFor: 'fsdc',
						},
						{
							'@type': 'Person',
							givenName: 'Stephanie',
							familyName: 'Fletcher',
							jobTitle: 'Managing Partner & CDO',
							image: 'https://futurestate.design/images/stephanie-fletcher.jpg',
							sameAs: [
								'https://www.linkedin.com/in/stephanie-fletcher-6840152/',
							],
							worksFor: 'fsdc',
						},
					],
					copyrightHolder: 'fsdc',
				}}
			/>
			<SchemaOrganizationFutureStateDesignCo />
		</>
	</BaseHead>

	<body>
		<div class="flex flex-col min-h-screen">
			<div class="flex-auto bg-#001E20 text-white">
				<div class="foo">
					<div class="grid gap-5 lg:grid-cols-[220px_1fr] lg:gap-90px pt-10">
						<div>
							<Header class="mb-120px" />
							<a href="/" class="">Back</a>
						</div>
						<main class="bg-red">
							<article>
								<h1 class="c-h0">{name}</h1>
								<div class="body">
									We set up Wilson Fletcher because it was the only way we could
									do the work we wanted to do, in the way we wanted to do it. We
									started a business to focus on the strategy and design of
									digital services because we believed that they would
									ultimately power every aspect of life and work. 26/34
								</div>
								<div
									class="prose text-[24px] lg:text-[26px] leading-[34px] max-w-none"
								>
									<slot />
									{image && <img src={image} alt="" />}
								</div>
							</article>
						</main>
					</div>
				</div>
			</div>
			<Footer />
		</div>
	</body>
</html>
