---
import { Schema } from 'astro-seo-schema'

import type { MarkdownLayoutProps } from 'astro'

type Props = MarkdownLayoutProps<{
	name: string
	description: string
	image?: string
	datePublished?: string
}>

const { frontmatter } = Astro.props as Props
const { name, description, image, datePublished } = frontmatter

import '@styles/global.css'

import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

const url = Astro.url
const meta = { name, description, image, url }
---

<!DOCTYPE html>
<html lang="en">
	<BaseHead {...meta}>
		<Schema
			item={{
				'@context': 'https://schema.org',
				'@type': 'Article',
				name,
				description,
				image,
				datePublished,
				author: [
					{
						'@type': 'Person',
						name: 'Mark Wilson',
					},
					{
						'@type': 'Person',
						name: 'Stephanie Fletcher',
					},
				],
			}}
		/>
	</BaseHead>

	<body>
		<div class="flex flex-col min-h-screen">
			<div class="flex-auto bg-#001E20 text-white">
				<div class="foo">
					<div class="grid gap-5 lg:grid-cols-[220px_1fr] lg:gap-90px pt-10">
						<div>
							<Header class="mb-120px" />
							<a href="/" class="">Back</a>
						</div>
						<main class="bg-red">
							<article>
								<h1 class="c-h0">{name}</h1>
								<div class="body">
									We set up Wilson Fletcher because it was the only way we could
									do the work we wanted to do, in the way we wanted to do it. We
									started a business to focus on the strategy and design of
									digital services because we believed that they would
									ultimately power every aspect of life and work. 26/34
								</div>
								<div
									class="prose text-[24px] lg:text-[26px] leading-[34px] max-w-none"
								>
									<slot />
									{image && <img src={image} alt="" />}
								</div>
							</article>
						</main>
					</div>
				</div>
			</div>
			<Footer />
		</div>
	</body>
</html>
