---
import { getEntryBySlug } from 'astro:content'
// import { Schema } from 'astro-seo-schema'

import '@/styles/global.css'

import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Subscribe from '@/components/Subscribe.astro'
import Contact from '@/components/Contact.astro'
import NavSecondary from '@/components/Nav/Secondary.astro'
import Footer from '@/components/Footer.astro'
import ModalMenu from '@/components/Modal/Menu.astro'
import ModalContact from '@/components/Modal/Contact.astro'

export interface Props {
  title: string
  description?: string
  url?: string
  image?: {
    url?: string
    width?: number
    height?: number
    alt?: string
  }
  noindex?: boolean
  class?: string
}

const navSecondary = await getEntryBySlug('menu', 'secondary')

const {
  title,
  description,
  url,
  image,
  noindex = false,
  class: className,
} = Astro.props as Props

const meta = { title, description, url, image, noindex }

const contact = {
  name: 'Let’s talk',
  description: 'Tell us where you want to be. We’ll make sure you get there.',
}
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead {...meta}>
    <slot name="head" />
  </BaseHead>
  <body
    class:list={[className, 'dark:bg-qux dark:text-white']}
    x-data="modals"
    x-bind:class="menuModal ? 'overflow-hidden h-full' : ''"
  >
    <div class="flex flex-col w-full min-h-screen">
      <Header>
        <div class="h2">___A business innovation company.</div>
      </Header>
      <main class="flex-auto">
        <slot />
      </main>
      <Contact {...contact} />
      <Subscribe />
      {navSecondary && <NavSecondary nav={navSecondary} />}
      <Footer />
    </div>
    <ModalMenu />
    <ModalContact />
    <script>
      import '@/scripts/bundle.js'
    </script>
  </body>
</html>
