---
import { Schema } from 'astro-seo-schema'

// import type { MarkdownLayoutProps } from 'astro'

// type Props = MarkdownLayoutProps<{
// 	name?: string
// }>

// const { frontmatter } = Astro.props as Props
// const { name } = frontmatter

import { SITE } from '@config'

import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

import '@styles/global.css'

const url = Astro.url
---

<!DOCTYPE html>
<html lang="en">
	<BaseHead name="Foo" description="Bar">
		<Schema
			item={{
				'@context': 'https://schema.org',
				'@type': 'WebPage',
				name: SITE.name,
				description: SITE.description,
				url: `${SITE.url}/`,
				copyrightYear: 2022,
			}}
		/>
	</BaseHead>
	<body>
		<div class="flex flex-col min-h-screen">
			<slot name="pre" />
			<Header />
			<main class="flex-auto">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
