---
import type { CollectionEntry } from 'astro:content';

interface Props {
  nav: CollectionEntry<'menu'>;
  class?: string;
}

const { nav, class: className, ...props } = Astro.props as Props;
const { id, data } = nav;
const { name, items } = data;
---

<nav id={id} class:list={[className]} {...props}>
  <h3 class="h5 mb-4 text-white/50">{name}</h3>
  <ul>
    {
      items.map(({ name, url, external }) => (
        <li>
          <a
            href={url}
            class="text-4xl leading-[44px]"
            target={external ? '_blank' : null}
          >
            {name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
