---
import IconArrow from '@components/Icon/Arrow.astro'

const data = [
  {
    name: 'Us',
    url: '/thinking',
  },
  {
    name: 'You',
    url: '/clients',
  },
  {
    name: 'The Futurestate Manifesto',
    url: '/futurestate-manifesto',
  },
  {
    name: 'Futurestate Design &trade;',
    url: '/futurestate-design',
  },
  {
    name: 'Business Engines',
    url: '/business-engines',
  },
]
---

<nav class="py-24">
  <div class="container">
    <div class="lg:pl-foo">
      <h3 class="h3 mb-20">Read more about:</h3>
      <ul>
        {
          data.map(({ name, url }) => (
            <li class="border-b-2 border-black/40">
              <a href={url} class="h3 flex items-center py-5 justify-between">
                <span class="underline" set:html={name} />
                <IconArrow />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>
