/* @import url('fonts'); */

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans text-base leading-none font-light text-optimize;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-regular;
  }

  abbr {
    @apply cursor-help;
  }

  details {
    @apply relative overflow-hidden border-b border-b-gray;
    --detailContentHeight: auto;

    blockquote:first-of-type {
      @apply mt-0 !important;
    }
  }

  summary {
    @apply relative text-4xl cursor-pointer font-regular flex items-start justify-between py-4 md:text-5xl;

    &::-webkit-details-marker {
      @apply hidden;
    }

    &:after {
      @apply content-[""] block text-center w-6 h-6 mt-2 bg-plus bg-cover bg-center;
    }
  }

  details[open]:not(.closed) > summary:after {
    @apply bg-minus;
  }

  html:has(dialog[open][modal-mode='mega']) {
    overflow: hidden;
  }

  dialog {
    @apply bg-qux text-white fixed inset-0 w-full h-full;

    max-inline-size: min(100vw);
    max-block-size: min(100vh, 100%);
    max-block-size: min(100dvb, 100%);

    &[open] {
      @apply opacity-100 translate-y-0;
    }

    &::backdrop {
      @apply bg-qux;
    }
  }
}
