@layer base {
  html {
    @apply scroll-smooth;

    &:has(dialog[open]) {
      overflow: hidden;
    }
  }

  body {
    @apply font-sans text-base font-light leading-none text-optimize;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-light;
  }

  abbr {
    @apply cursor-help;
  }

  details {
    @apply relative overflow-hidden border-b border-b-gray;
    --detailContentHeight: auto;

    blockquote:first-of-type {
      @apply mt-0 !important;
    }
  }

  summary {
    @apply relative flex cursor-pointer items-start justify-between py-4 text-4xl font-light md:text-5xl;

    &::-webkit-details-marker {
      @apply hidden;
    }

    &:after {
      @apply mt-2 block h-6 w-6 bg-plus bg-cover bg-center text-center content-[""];
    }
  }

  details[open]:not(.closed) > summary:after {
    @apply bg-minus;
  }

  dialog {
    @apply fixed inset-0 h-full w-full bg-qux text-white;

    max-inline-size: min(100vw);
    max-block-size: min(100vh, 100%);
    max-block-size: min(100dvb, 100%);

    /* &[open] {
      @apply opacity-100 translate-y-0;
    } */

    /* &::backdrop {
      @apply bg-qux;
    } */
  }
}
